$footer-background-color: #291720;
$navbar-background-color: #23D160;

/* customizations go above this line */
@import "../vendors/bulma/bulma.sass";

.navbar-item img {
  max-height: 3rem;
}

/* cards styles */
.card.large {
  height: 600px;
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  border-radius: 5px;
}